NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
MAILERLITE_API_TOKEN=
MAILERLITE_GROUP_FRAGMENTUN_CAP1_ES=
MAILERLITE_GROUP_FRAGMENTUN_CAP1_EN=
NEXT_PUBLIC_SITE_URL=https://www.fragmentun.com

NEXT_PUBLIC_PATREON_URL=https://patreon.com/sagaFragmentun?utm_source=fragmentun&utm_medium=website&utm_campaign=patreon_support&utm_content=landing
